<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_logo_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.CarMa"
        tools:targetApi="31">
        <activity
            android:name=".CitasActivity"
            android:exported="false" />
        <activity
            android:name=".ChatActivity"
            android:exported="false" />
        <activity
            android:name=".MisChatsActivity"
            android:exported="false" />
        <activity
            android:name=".ResultadosBusquedaActivity"
            android:exported="false" />
        <activity
            android:name=".EditarPublicacionCocheActivity"
            android:exported="false" />
        <activity
            android:name=".EditarPublicacionActivity"
            android:exported="false" />
        <activity
            android:name=".CrearPublicacionActivity"
            android:exported="false" />
        <activity
            android:name=".RecuperarContraActivity"
            android:exported="false" />
        <activity
            android:name=".RegistroActivity"
            android:exported="false" />
        <activity
            android:name=".LoginActivity"
            android:exported="false" />
        <activity
            android:name=".AgendarCitaActivity"
            android:exported="false" />
        <activity
            android:name=".VentaActivity"
            android:exported="false" />
        <activity
            android:name=".EditarPerfilActivity"
            android:exported="false" />
        <activity
            android:name=".PerfilActivity"
            android:exported="false" />
        <activity
            android:name=".InformacionCocheActivity"
            android:exported="false" />
        <activity
            android:name=".InicioActivity"
            android:exported="false" />
        <activity
            android:name=".BusquedaActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>